.container{
    position: relative;
    width: 1045px;
    height: 565px;
    left: 165px;
    top: 2502px;
    display: inline-flex;
    margin:200px auto;
   

}

.hompage__works{
    position: absolute;
    width: 1045px;
    height: 565px;
    left: 165px;
    top: 2502px;
    display: flex;

}
.hompage__line__oval{
    display: flex;
    justify-content:center ;
    align-items: center;
    justify-content: space-around;
}      
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        